doctype html
html
  head
    meta(charset='utf-8')
    title Web freeks
    link(rel='stylesheet', href='css/base.css')    
    link(rel='stylesheet', href='css/reset.css')
  body
    .bg-container
      header
        .logo
          a(href='#')
        .nav
          ul 
            li 
              a(href='#') Bow
            li 
              a(href='#') Skills
            li 
              a(href='#') Pictures
            li 
              a(href='#') Contact
      .quote
        p “The only way to truly know it is, by living it. The only way you truly grow is, by keeping it real.”
        p Allan “Bow” Beauchamp
      .mission-block
        .border-block
          .mission
            h3 Mission
          .content
            h1 To offer you greater insights, awareness and skills while you explore the bush.
      .social-links
        ul
          li 
            a(href='#')
              img(src='./img/webfreeks_test_03.png')
          li 
            a(href='#')
              img(src='./img/webfreeks_test_06.png')
          li 
            a(href='#')
              img(src='./img/webfreeks_test_10.png')
          li 
            a(href='#')
              img(src='./img/webfreeks_test_12.png')
    .block-content
      .text
        p <span>Allan “Bow” Beauchamp</span> has 35+ years of bush experience. An outdoor educator providing instruction for a multitude of groups from novices to the military’s elite special forces.
        br
        h4 Offering a unique 4 season approach
        p Bow will be drafting book volumes about his unique ideology and his methodology, as well as offering skillsets and videos to enhance and expand this knowledge.
    .strange-block
      .container
        .picture
        .content
          .text
            h1 Allan “Bow” Beauchamp
            p Founder. Bow's Bushcraft & Strategies
          .sign
    .block-login
      .content
        h1  Subscribe now
        form()
          input(type="text" placeholder="First Name")
          input(type="email" placeholder="Email")
          input(type="submit" value="Subscribe")
    footer
      .copyright
        h5 Bow's Bushcraft & Strategies Inc. 
        p Copyright © 2016 <br> Terms & Conditions. Privacy Policy.
      .text
        p This is the only site officially endorsed by Allan "Bow" Beauchamp.<br>We have exclusive rights to all of his latest skills, tactics and techniques.